.resultsContainer {
  background-color: white;
  display: grid;
  max-width: 1400px;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}
@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 425px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .resultsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .resultsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .resultsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 1440px) {
}






.filtersContainer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 28px;
  max-width: 895px;
  padding-top: 32px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  margin: auto;
}

.selectWrapper {
  width: 80%;
}

@media (min-width: 900px) {
  .filtersContainer {
    justify-content: space-between;
    padding: 32px 0 0;
    flex-direction: unset;
    align-items: unset;
  }
  .selectWrapper {
    width: 40%;
    margin-right: 18px;
  }
}

.shufflePokemonButton {
  background-color: #30a7d7;
  color: white;
  width: 80%;
  font-size: 1.1rem;
  font-family: "Exo";
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 100ms ease-in;
  margin-bottom: 24px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.shufflePokemonButton:hover {
  background-color: #1b82b1;
}

.sortOrder {
  background-color: #313131;
  font-family: Exo;
  color: white;
  width: 100%;
  padding: 8px 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.loadMoreContainer {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  max-width: 895px;
}

.loadMoreButton {
  display: inline-block;
  width: 80%;
  font-size: 100%;
  font-family: Exo;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 125%;
  margin: 1.5625%;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  background-color: #30a7d7;
  color: #fff;
}

.loadAllButton {
  display: inline-block;
  width: 80%;
  font-size: 100%;
  font-family: Exo;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 125%;
  margin: 1.5625%;
  margin-top: 16px;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  background-color: #ee6b2f;
  color: #fff;
}

@media (min-width: 900px) {
  .loadMoreContainer {
    flex-direction: unset;
    justify-content: space-between;
  }
  .loadMoreButton {
    width: 40%;
    margin-left: 18px;
  }
  .loadAllButton {
    width: 40%;
    margin-right: 18px;
  }
}

.loadMoreButton:hover {
  background-color: #1b82b1;
}

.loadAllButton:hover {
  background-color: #d85a1f;
} 