/* Screen reader only class for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pokedex-results-container {
  background-color: white;
  display: grid;
  max-width: 895px;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}

@media (min-width: 480px) {
  .pokedex-results-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 319px) {
  .title-h1 {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

.pokedex-container {
  max-width: 1280px;
  width: 100%;
}

.pokedex-title-container {
  display: flex;
  background-color: white;
  width: 90%;
  margin: auto;
  max-width: 895px;
  justify-content: center;
}

.pokedex-title {
  font-family: Exo;
  font-weight: 100;
  font-size: 30px;
  color: #919191;
  padding-left: 18px;
  max-width: 1024px;
}

@media (min-width: 768px) {
  .pokedex-results-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .pokedex-results-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokedex-filters-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 28px;
  max-width: 895px;
  padding-top: 32px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 90%;
  margin: auto;
}

.pokedex-select-wrapper {
  width: 80%;
}

@media (min-width: 900px) {
  .pokedex-filters-container {
    justify-content: space-between;
    padding: 32px 0 0;
    flex-direction: unset;
    align-items: unset;
  }
  .pokedex-select-wrapper {
    width: 40%;
    margin-right: 18px;
  }
}

.shuffle-pokemon-button {
  background-color: #30a7d7;
  color: white;
  width: 80%;
  font-size: 1.1rem;
  font-family: "Exo";
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 100ms ease-in;
  margin-bottom: 24px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.shuffle-pokemon-button:hover {
  background-color: #1b82b1;
}

.custom-select-wrapper {
  /* background-color: #313131; */
  width: 40%;
  float: right;
  padding-right: 3%;
}

.custom-select-wrapper .custom-select-menu > ul {
  background-color: #616161;
}

.pokedex-sort-order {
  background-color: #313131;
  font-family: Exo;
  color: white;
  width: 100%;
  padding: 8px 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.pokedex-load-more-container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  max-width: 895px;
}
.pokedex-load-more-button {
  display: inline-block;
  width: 80%;
  font-size: 100%;
  font-family: Exo;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 125%;
  margin: 1.5625%;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  background-color: #30a7d7;
  color: #fff;
}
.pokedex-load-all-button {
  display: inline-block;
  width: 80%;
  font-size: 100%;
  font-family: Exo;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 125%;
  margin: 1.5625%;
  margin-top: 16px;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  background-color: #ee6b2f;
  color: #fff;
}

@media (min-width: 900px) {
  .pokedex-load-more-container {
    flex-direction: unset;
    justify-content: space-between;
  }
  .pokedex-load-more-button {
    width: 40%;
    margin-left: 18px;
  }
  .pokedex-load-all-button {
    width: 40%;
    margin-right: 18px;
  }
}

.pokedex-load-more-button:hover {
  background-color: #1b82b1;
}

.pokedex-load-all-button:hover {
  background-color: #d85a1f;
}

.pokedex-title-container{
  padding-top: 32px;
  padding-bottom: 32px;
} 