.pokemonVersionContainer {
  width: 100%;
  height: 25%;
}
.pokemonVersionContent {
  display: flex;
  flex-direction: column;
}
.pokemonVersionText {
  font-family: "Exo", sans-serif;
  color: #212121;
  font-weight: 500;
}
.pokemonVersionHeading {
  font-family: "Exo", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.pokemonVersionToggle {
  margin-left: 9px;
}
.pokemonVersionBlueBtn {
  border-radius: 50%;
  background-color: blue;
  width: 32px;
  height: 32px;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemonVersionRedBtn {
  border-radius: 50%;
  background-color: red;
  width: 32px;
  height: 32px;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
} 