/* =========================
   Card Animation
   ========================= */
.pokemonCard:hover {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

/* =========================
   Card Layout & Container
   ========================= */
.pokemonInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
  font-weight: 500;
  margin-top: 1%;
}

.pokemonTypeContainer {
  width: 100%;
}

/* =========================
   Card Image
   ========================= */
.pokemonImage {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 3%;
  cursor: pointer;
}

@media (min-width: 475px) {
  .pokemonImage {
    width: 85%;
  }
  .pokemonCopy {
    width: 85%;
  }
}

/* =========================
   Card Text Styles
   ========================= */
.pokemonId {
  font-family: "Exo";
  color: #919191;
  font-weight: 600;
  font-size: 80%;
  margin-top: 2%;
}

.pokemonName {
  font-family: "Exo";
  font-size: 22px;
  margin-top: 3%;
  font-weight: 500;
  color: #313131;
}

 