.pokemon-page{
  width: 100%;
}

.pokemon-container {
    background-color: white;
    width: 100%;
    padding-bottom: 8%;
  }
  

.pokemon-container-div{
      width: 100%;
      margin: auto;
      max-width: 895px;
      margin-bottom: 10%;
}
  
  .pokemon-id {
    color: #919191;
    font-weight: 400;
    font-size: 36px;
  }
  


  .pokemon-name {
    font-size: 225%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #424242;
    font-family: "Exo", sans-serif;
  }
    .pokemon-name {
    text-transform: uppercase;
    font-weight: 100;
  }
  .pokemon-heading-name{
    font-family: "Exo", sans-serif;
    color: #212121;
    float: left;
    font-size: 225%;
    margin-top: 0.5em;
    text-align: center;
    word-break: break-word;
    text-transform: capitalize;
  }
  .pokemon-heading-id{
    color: #616161;
    margin-left: 0.125em;
    font-size: 36px;
    font-family: "Exo", sans-serif;
  }
  .pokemon-pagination-name {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #616161;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    margin: 0 12px
  }

  .pokemon-pagination-number{
    font-family: "Exo", sans-serif;
    font-weight: 600;
  }
  
  .container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 16px;
    color: "black";
  }
  
  .randomizer {
    background-color: #30a7d7;
    color: white;
    width: 35%;
    font-size: 1.1rem;
    font-family: "Exo";
    font-weight: 500;
    padding: 1.4%;
    border-radius: 5px;
    border: none;
    margin-left: 32px;
    cursor: pointer;
    transition: 100ms ease-in;
  }
  .randomizer:hover {
    background-color: #1b82b1;
  }
  
  .custom-select-wrapper {
    /* background-color: #313131; */
    width: 40%;
    float: right;
    padding-right: 3%;
  }
  
  
  .custom-select-wrapper .custom-select-menu > ul {
    background-color: #616161;
  }
  

  
 
  .evolution-wrapper {
    color: black;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 25%;
    text-transform: capitalize;
    background: transparent
      url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5%;
  }

 

  .evolution-img {
    box-shadow: 0 4px 4px 0px #212121;
    background-color: #616161;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .evolution-content-div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
  }
  

  .evolution-h2 {
    font-family: "Roboto", arial, sans-serif;
    font-weight: 100;
    color: #fff;
    margin: 1em 0 0 1em;
    text-transform: none;
    font-size: 137.5%;
  }

  .evolution-pokemon-div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  
  .evolution-span-1{
    display: flex;
    align-items: center;
  }
  .evolution-span-2{
    padding-bottom: 3%;
  }
  .evolution-h3-1 {
    font-family: "Exo", arial, sans-serif;
    color: #fff;
    font-size: 125%;
    clear: both;
    float: left;
    margin: 0.75em 0;
    text-align: center;
    width: 100%;
    line-height: 125%;
    font-weight: 500;
  }

  
  .evolution-h3-2 {
    font-family: "Exo", arial, sans-serif;
    color: #a4acaf;
    font-size: 20px;
    font-weight: 100;
  }
  
  .evolution-no-evolution {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-left: 2.5%
  }
  .pagination {
    height: 150px;
    background-color: white;
    box-sizing: border-box;
    margin-top: 7%;
  }

  .pokedex-pokemon-pagination {
    display: flex;
    width: 100%;
    height: 90%;
    font-size: 150%;
  }
  .left {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
  }
  .right {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    color: white;
  }
  .previous {
    border-right: 4px solid #fff;
    background-color: #a4a4a4;
    width: 50%;
    transition: 300ms ease;
    cursor: pointer;
  }


  .previous:hover {
    background-color: #30a7d7;
  }
  .next {
    background-color: #a4a4a4;
    width: 50%;
    transition: 300ms ease;
    cursor: pointer;
    
  }
  .next:hover {
    background-color: #30a7d7;
  }
  
  .pokemon-heading-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .col3 {
    grid-column: span 3;
  }
  
  .main-contents {
    display: flex;
    margin-top: 64px;
    margin-bottom: 16px;
  }
  
  .left-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .right-column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start
  }
.left-column > div.image-div{
width: 100%;
height: 60%;
display: flex;
justify-content: center;
}



.left-column > div.image-div > img{
  background-color: #f2f2f2;
    border-radius: 3%;
    cursor: pointer;
    width: 90%;
    height: 90%;
    margin: 0;
}



  .stats-wrapper {
    width: 90%;
    height: 40%;
    background-color: transparent;
    border-radius: 10px;
    display: block;
    margin: 1em 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .stats-div {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }


  
  .stats-header {
    font-family: "Exo", arial, sans-serif;
    clear: both;
    color: #313131;
    float: left;
    font-size: 100%;
    margin: 0.75em 1.5em 1.5em;
    text-transform: none;
    font-weight: 500;
  }



  
  .stats-container {
    font-size: 20px;
    padding-top: 10%;
    background-color: #a4a4a4;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
  }



  
  .stat-stuff {
    width: 70%;
    display: flex;
  }
  .stat-ul-parent {
    list-style: none;
    background-color: transparent;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    line-height: 13px;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 0;
  }
 
 
 

  .stat-ul-div {
    background-color: transparent;
    width: 14%;
    text-align: center;
  }

  .stat-ul-child {
    background-color: white;
    list-style: none;
    padding: 0%;
    display: flex;
    flex-direction: column-reverse;
  }
  .stat-li {
    background: transparent;
    border-bottom: 0.2em solid #a4a4a4;
    height: 0.4em;
    background-color: rgb(48, 167, 215);
  }

  .stats-span {
    font-weight: bold;
    color: #212121;
    float: left;
    font-size: 50%;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  .pokemon-image {
    background-color: #f2f2f2;
    border-radius: 3%;
    cursor: pointer;
    float: left;
    margin-left: 64px;
    margin-top: 64px;
  }
  .bar-ul {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    padding-left: 0px;
  }
  
  .info-div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background-color: #30a7d7;
    padding-top: 3%;
  }
 
.versions-and-info-container{
  background-color: white;
  height: 56%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  .info-label {
    color: white;
    font-family: "Exo", sans-serif;
  }
  .info-value {
    font-family: "Exo", arial, sans-serif;
    color: #212121;
    font-weight: 500;
    font-size: 125%;
    white-space: normal;
  }
  #info-abilities {
    text-transform: capitalize;
  }
  #info-gender {
    text-transform: capitalize;
  }
  #info-gender-li{
    display: flex;
    flex-wrap: wrap;
  }
  .info-ul-div1 {
    width: 50%;
  }
  .info-ul-div2 {
    width: 50%;
  }
  .info-ul1 {
    list-style: none;
  }
  .info-ul2 {
    list-style: none;
  }
  .info-li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .versions-heading{
    font-family: "Exo", sans-serif;
    color:#212121;
    font-weight: 500
  }
  .version-container{
width: 100%;
height: 25%;
display: flex;
box-sizing: border-box;
align-items: center;
}


  .version-span {
    margin-left: 9px;
  }
  .versions-p{
    font-family: "Exo", sans-serif;
    color: #212121;
    font-weight: 500;
    
  }
  .version-blue {
    border-radius: 50%;
    background-color: blue;
    width: 10%;
    color: white;
    cursor: pointer;
  }
  .version-red {
    border-radius: 50%;
    background-color: red;
    width: 10%;
    color: white;
    cursor: pointer;
  }
  .weakness-card {
    border-radius: 3px;
    margin-top: 1%;
    height: 70%;
    flex-direction: column;
    width: 100%;
    font-family: "Exo", sans-serif;
    justify-content: flex-end;
    text-transform: capitalize;
  }




.type-and-weaknesses-container{
  height: 40%;
  width: 100%;
  margin: auto;
}

.type-div{
  height: 40%;
  width: 100%;
  margin: auto;
}


 .weakness-h3{
  width: 100%;
  font-family: 'Exo';
  font-weight: 400;
  font-size: 125%;
 }
 div.weakness-card > div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: flex-start;
 }


 
  .explore-div {
    background-color: #ee6b2f;
    color: #fff;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    margin-bottom: 24px;
  }


  .explore-link {
    font-family: "Exo", arial, sans-serif;
    font-weight: 500;
    font-size: 105%;
  }
  
  @font-face {
    font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
        format("svg");
  }
  
  @import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
  
  @import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap");
  