.pokemonTitleWrapper {
  background: white;
  position: absolute;
  height: 51px;
  width: 70%;
  left: 15%;
  top: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 30;
  max-width: 895px;
}
.pokemonTitleName {
  font-family: "Exo", sans-serif;
  color: #212121;
  float: left;
  font-size: 28px;
  margin-top: 64px;
  text-align: center;
  word-break: break-word;
  text-transform: capitalize;
  font-weight: 500;
}
.pokemonTitleId {
  color: #616161;
  font-size: 28px;
  font-family: "Exo", sans-serif;
  font-weight: 500;
} 