/* =========================
   Search Container & Wrapper
   ========================= */
.searchContainer {
  background-color: #313131;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: center;
}



/* =========================
   Text
   ========================= */
.searchText {
  font-size: 1.2rem;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: white;
}

/* =========================
   Input Container
   ========================= */
.searchInputContainer {
  display: flex;
  width: 100%;
}

.searchInput {
  padding: 0.3125rem 0.9375rem;
  width: 85%;
  font-family: Exo;
  font-size: 1rem;
  border: 3px solid #616161;
  background: white;
  color: #333;
  outline: none;
}
.searchInput {
  height: 2.5rem;
}

.searchButton {
  height: 2.5rem;
}
/* =========================
   Results List
   ========================= */
.searchResultsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-height: 9.375rem;
  background: white;
  overflow: hidden;
  width: 68%;
  color: #999;
  z-index: 3;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.searchResultItem {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: Exo;
  border: none;
  background: none;
  text-align: left;
}

.searchResultItem:hover {
  background-color: #f0f0f0;
}

/* =========================
   Button Styles
   ========================= */
.searchButton {
  background-color: #ee6b2f;
  color: white;
  border-radius: 0.3125rem;
  border: none;
  width: 15%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  font-size: 1rem;
  outline: none;
}

/* =========================
   Responsive Breakpoints
   ========================= */
/* Mobile */
@media (min-width: 375px) {

  
  
  
}

/* Large mobile/Small tablet */
@media (min-width: 576px) {

}

/* Tablet */
@media (min-width: 768px) {
  .searchInputContainer {
    width: 80%;
  }
  
  .searchText {
    width: 80%;
  }
  
}

/* Small desktop/Laptop */
@media (min-width: 992px) {
  .searchContainer {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .searchResultsList {
    width: 30.5%;
  }
  .searchInputContainer {
    width: 50%;
  }
  .searchText {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .searchResultsList {
    width: 30%;
  }
  

}

/* Large desktop */
@media (min-width: 1440px) {

} 