.pagination-container {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.previous-container {
  background-color: white;
  width: 49%;
  height: 100%;
  transition: 300ms ease;
  cursor: pointer;
}

.previous {
  width: 99.7%;
  background: #a4a4a4;
  height: 100%;
  display: flex;
  transition: 300ms ease;
  justify-content: center;
}

.next {
  background-color: #a4a4a4;
  width: 99.7%;
  height: 100%;
  transition: 300ms ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.next-container {
  background-color: white;
  width: 49%;
  height: 100%;
  transition: 300ms ease;
  cursor: pointer;
}

.left,
.right {
  color: white;
  width: 74.5%;
  background: #a4a4a4;
  max-width: 447.5px;
  display: flex;
  transition: 300ms ease;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  justify-content: flex-start;
}

.previous-container:hover .previous,
.previous-container:hover .left {
  background-color: #ee6b2f;
  color: #fff;
}

.next-container:hover .next,
.next-container:hover .right {
  background-color: #ee6b2f;
  color: #fff;
}

/* Responsive styles */
@media (min-width: 218px) {
  .previous-container,
  .next-container {
    height: 60px;
  }
  
  .left,
  .right {
    height: 100%;
  }
}

@media (min-width: 300px) {
  .previous-container,
  .next-container {
    height: 70px;
  }
}

@media (min-width: 400px) {
  .previous-container,
  .next-container {
    height: 80px;
  }
}

@media (min-width: 600px) {
  .previous-container,
  .next-container {
    height: 90px;
  }
  
  @media (min-width: 700px) {
    .previous-container,
    .next-container {
      height: 100px;
    }
  }
} 