.pagination {
  height: 180px;
  background-color: white;
  box-sizing: border-box;
  padding-top: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.paginationPrev,
.paginationNext {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  padding: 8px;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.paginationPrev:hover,
.paginationNext:hover {
  text-decoration: none;
  color: inherit;
}

.paginationName {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #616161;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  margin: 0 12px;
  display: none;
}

.paginationNumber {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

