@media (min-width: 0px) {
  .pokemon-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .pokemon-card-container {
    display: flex;
  }
}
.pokemon-card-container:hover {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.pokemon-card-copy {
  display: flex;
  width: 70%;
  flex-direction: column;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
  font-weight: 500;
  margin-top: 1%;
}

.pokemon-card-type-container {
  width: 100%;
}

.pokemon-card-image {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 3%;
  cursor: pointer;
}
@media (min-width: 480px) {
  .pokemon-card-image {
    width: 85%;
  }
  .pokemon-card-copy {
    width: 85%;
  }
}

.pokemon-card-id {
  font-family: "Exo";
  color: #919191;
  font-weight: 600;
  font-size: 80%;
  margin-top: 2%;
}

.pokemon-card-name {
  font-family: "Exo";
  font-size: 22px;
  margin-top: 3%;
  font-weight: 500;
  color: #313131;
}

.typesContainer {
  display: flex;
  flex: 1;
  margin-top: 5%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
}

.typesCard {
  font-family: "Exo";
  font-size: 11px;
  margin-right: 4px;
  border-radius: 3px;
  width: 38px;
  max-width: 110px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 16px;
}
