body {
  margin: 0%;
  background-color: white;
  overflow-x: hidden;
  /* background-color: #424242; */
}

.appContentContainer {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  ;
}





.appRoutesContainer {
  display: flex;
  max-width: 1280px;
  width: 100%;
  background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  background-color: white;
  flex-direction: column;
  align-items: center;
}


@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap");

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
