Nav {
  background: #fff;
  border-bottom: 2px solid #f0f0f0;
  height: 87px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto",arial,sans-serif;
  font-weight: normal;
  font-size: 87.5%;
  color: #464646;
  display: flex;
  justify-content: center;
}
a.nav-link{
  text-decoration: none;
  color: #464646;
}
a.nav-link:link { text-decoration: none;
  color: #464646;
 }
a.nav-link:visited { text-decoration: none;
  color: #464646;
 }
a.nav-link:hover { text-decoration: none;
  color: #464646;
 }
a.nav-link:active { text-decoration: none;
  color: #464646;
 }

 a > div{
   height: 100%; 
   width: 100%;
 }

@media (min-width: 0px) {
  Nav {
    display: none;
    width: 95.3%;
  }
}
@media (min-width: 600px) {
  Nav {
    display: none;
    width: 96.6%;
  }
}
@media (min-width: 900px) {
  Nav {
    display: flex;
    width: 100%;
  }
}

#home-tab,
#pokedex-tab,
#games-tab,
#trading-tab,
#tv-tab,
#play-tab,
#news-tab {
  border-bottom: 5px solid;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  max-width: 895px;
}

#home-tab {
  border-color: #919191;
  transition: 100ms ease 100ms;
  cursor: pointer;
  border-radius: 0% 0% 0% 5%;
}
#home-tab:hover {
  background-color: #919191;
}
#pokedex-tab {
  border-color: #e3350d;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#pokedex-tab:hover {
  background-color: #e3350d;
}
#games-tab {
  border-color: #ee6b2f;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#games-tab:hover {
  background-color: #ee6b2f;
}
#trading-tab {
  border-color: #e6bc2f;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#trading-tab:hover {
  background-color: #e6bc2f;
}
#tv-tab {
  border-color: #4dad5b;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#tv-tab:hover {
  background-color: #4dad5b;
}
#play-tab {
  border-color: #30a7d7;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#play-tab:hover {
  background-color: #30a7d7;
}
#news-tab {
  border-color: #1b53ba;
  transition: 100ms ease 100ms;
  cursor: pointer;
  border-radius: 0% 0% 5% 0%;
}
#news-tab:hover {
  background-color: #1b53ba;
}

.home-tab-img{
  width: 30px;
}

.nav-div:hover{
  color: white;
}
.nav-div:hover > a > div{
color: white;
}
