Nav {
  background: #fff;
  border-bottom: 2px solid #f0f0f0;
  height: 87px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto",arial,sans-serif;
  font-weight: normal;
  font-size: 87.5%;
  color: #464646;
  display: flex;
  justify-content: center;
  position: static;
  top: 0;
  top: -35px;
  z-index: 3;
}
a.nav-link{
  text-decoration: none;
  color: #464646;
}
a.nav-link:link { text-decoration: none;
  color: #464646;
 }
a.nav-link:visited { text-decoration: none;
  color: #464646;
 }
a.nav-link:hover { text-decoration: none;
  color: #464646;
 }
a.nav-link:active { text-decoration: none;
  color: #464646;
 }

 a > div{
   height: 100%; 
   width: 100%;
 }

@media (min-width: 900px) {
  Nav {
    width: 100%;
    position: sticky;
  }
}

.nav-div{
  border-bottom: 5px solid;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 86px;
}
.nav-div-2point0{
  border-bottom: 5px solid;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  height: 82px;
}

.navigation-menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  max-width: 895px;
}
@media(min-width: 900px){
  .navigation-menu{
    width: 100%;
  }
}

#home-tab {
  border-color: #919191;
  transition: 100ms ease 100ms;
  cursor: pointer;
  border-radius: 0% 0% 0% 5%;
}
#home-tab-2point0{
  border-color: #919191;
  transition: 100ms ease 100ms;
  cursor: pointer;
  height: 82px;
}
#home-tab:hover {
  background-color: #919191;
}
#pokedex-tab {
  border-color: #e3350d;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#pokedex-tab:hover {
  background-color: #e3350d;
}
#games-tab {
  border-color: #ee6b2f;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#games-tab:hover {
  background-color: #ee6b2f;
}
#trading-tab {
  border-color: #e6bc2f;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#trading-tab:hover {
  background-color: #e6bc2f;
}
#tv-tab {
  border-color: #4dad5b;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#tv-tab:hover {
  background-color: #4dad5b;
}
#play-tab {
  border-color: #30a7d7;
  transition: 100ms ease 100ms;
  cursor: pointer;
}
#play-tab:hover {
  background-color: #30a7d7;
}
#news-tab {
  border-color: #1b53ba;
  transition: 100ms ease 100ms;
  cursor: pointer;
  border-radius: 0% 0% 5% 0%;
}
#news-tab-2point0{
  border-color: #1b53ba;
  transition: 100ms ease 100ms;
  cursor: pointer;
  height: 82px;
}
#news-tab:hover {
  background-color: #1b53ba;
}

.nav-tab-img{
  width: 30px;
}
.nav-tab-img-none{
  visibility: hidden;
  height: 30px;

}

.nav-div:hover{
  color: white;
}
.nav-div:hover > a > div{
color: white;
}

.hamburger{
  display: none;
  cursor: pointer;
}



.phantom-div{
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 895px;
}


@media screen and (max-width: 899px) {
  Nav{
    background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
    flex-direction: column;
    width: 100%;
    border-bottom: none;
    align-items: center;
    height: 60px;
  }
  .nav-div{
    justify-content: unset;
  }
  .phantom-div{
    width: 100%;
    align-items: center;
  }
  .hamburger {
    display: block;
    position: absolute;
    width: 50px;
    height: 58px;
    background-color: #313131;
    border: none;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
  } 
  .hamburger > svg{
    width: 1em;
    height: 1em;
    font-size: 2rem;
    font-weight: 900;
  }
  .menu-icon{
    color: white;
  }
  .navigation-menu {
    height: 0px;
    width: 100%;
    display: flex;
    max-width: 895px;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 60px;
    transition: height 500ms ease;
    overflow: hidden;
  }
  
  .navigation-menu.expanded {
    height: 400px;
  }
  #home-tab{
    border-radius: unset;
    border-left: 5px solid #919191;
    border-bottom: 1px solid #dedede;
    padding-left: 3%;
    flex-direction: row;
  }
  .nav-tab-img{
    margin-right: 16px;
  }
  #pokedex-tab{
    border-radius: unset;
    border-left: 5px solid #e3350d;
    border-bottom: 1px solid #dedede;
    padding-left: 3%;
    flex-direction: row;
  }
  .nav-div > svg{
    margin-right: 16px;
  }
  #games-tab{
    border-radius: unset;
    border-left: 5px solid #ee6b2f;
    border-bottom: 1px solid #dedede;
    padding-left: 3%;
    flex-direction: row;
  }
#trading-tab{
  border-radius: unset;
  border-left: 5px solid #e6bc2f;
  border-bottom: 1px solid #dedede;
  padding-left: 3%;
  flex-direction: row;
}
#tv-tab{
  border-radius: unset;
  border-left: 5px solid #4dad5b;
  border-bottom: 1px solid #dedede;
  padding-left: 3%;
  flex-direction: row;
}
#play-tab{
  border-radius: unset;
  border-left: 5px solid #30a7d7;
  border-bottom: 1px solid #dedede;
  padding-left: 3%;
  flex-direction: row;
}
#news-tab{
  border-radius: unset;
  border-left: 5px solid #1b53ba;
  border-bottom: 1px solid #dedede;
  padding-left: 3%;
  flex-direction: row;
}
}
