/* =========================
   Weakness Container
   ========================= */
.weaknessContainer {
  margin-left: 4px;
}

/* =========================
   Weakness Content
   ========================= */
.weaknessContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: flex-start;
} 